/* Закоментил, т.к. подключил bootstrap */
/* body {
    background: brown;
}

.class1{
    color:rgb(236, 229, 220);
    background-color:rgb(211, 108, 108);
}

.class2{
    color: rgb(0, 17, 255);
    background-color: rgb(78, 160, 11);
} */