<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main_uai</title>
    <!-- Ссылка на страницу со стилями -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1> Главнейшая страница !!!</h1>
    <!-- подключил стили class="class1" -->
    <ul>
        <li>
            <a href="/main" class="class1">Главнейшая страница УИИ</a>
        </li>
        <li>
            <a href="/contacts" class="class2">Контакты УИИ</a>            
        </li>
        <li>
            <a href="/moto" class="class1">Moto</a>
        </li>
        <li>
            <a href="/cars_form" class="class2">Cars_forms</a>
        </li>
    </ul>

<!-- Форма для заполнения -->
    <!-- <form action="/cars_form" method="post">
        <input type="text" name="brand">
        <input type="text" name="price">
        <button type="submit">SEND</button>
    </form> -->
    
</body>
</html>